.App {
  
  display: flex;
  width: 100vw;
  align-items: center;

  height: 100vh;
  justify-content: center;
  
  
}
button{
  background-color: lightblue;
  border: none;
  padding: 10px;
  margin: 20px;
  width: 10vw;
 
  color: rgb(0, 88, 100);
  box-shadow: 5px 10px 8px #131515;
  font-size: 1rem;
  font-weight: 600;
}

.display{
  margin: 1px;
  border-radius: 50px;
  background-color: white;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 88, 100);
  font-size: 1rem;
  font-weight: 600;
}

.changeColorTen{
  margin: 1px;
  border-radius: 50px;
  background-color: chocolate;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 75, 100);
  font-size: 1rem;
  font-weight: 600;
}

.changeColorTwenty{
  margin: 1px;
  border-radius: 50px;
  background-color: darkgoldenrod;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 75, 100);
  font-size: 1rem;
  font-weight: 600;
}
.containerDisplay{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.userDisplay{
  display: flex;
  
  justify-items: center;
  
}

.name{
  background-color: rgb(195, 237, 155);
  border: none;
  width: 30vw;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  color: rgb(0, 75, 100);
  font-size: 1rem;
  font-weight: 600;
}
.userName{
  background-color: rgb(195, 237, 155);
  border-radius: 5px;
  border: none;
  width: 30vw;
  padding: 10px;
  margin: 10px;
  color: rgb(0, 75, 100);
  font-size: 1rem;
  font-weight: 600;
}
.containerForm{
  display: flex;
  justify-content: center;
}
input{
  background-color: rgb(195, 237, 155);
  width: 30vw;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}